@import 'themes/mocha.css';

* {
  font-family: 'JetBrainsMono Nerd Font';
  font-weight: 900;
  font-size: 9px;
  border: none;
}

#waybar {
  background: transparent;
}

tooltip {
  color: white;
  background-color: black;
  border-radius: 10px;
}

#workspaces button {
  color: @sky;
  opacity: 0.5;
  border-radius: 100%;
  animation: all 1s ease-in infinite;
  transition: all 500ms cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  color: @green;
  opacity: 0.7;
}

#workspaces button.active {
  color: @lavender;
  opacity: 1;
}

#workspaces button.urgent {
  opacity: 1;
  color: @red;
  background-color: @yellow;
}

#cpu,
#memory,
#custom-media,
#custom-ping,
#clock,
#battery,
#wireplumber,
#network,
#workspaces,
#tray {
  background-color: @surface0;
  border: 0.5px solid @surface2;
  border-radius: 80px;
  margin: 5px 1px 0;
  padding: 1px 10px 1px;
  opacity: 0.7;
}

#clock {
	color: @blue;
}

#memory {
  color: @sky;
}

#cpu {
  color: @teal;
}

#network {
  color: @rosewater;
}

#battery {
	color: @green;
}

#battery.charging {
	color: @green;
}

#battery.warning:not(.charging) {
	color: @red;
}

#wireplumber {
	color: @maroon;
}

#custom-media {
	color: @mauve;
}

#custom-ping {
  color: @peach;
}